@use "../abstracts" as *;

$icon-sizes: (
  "xs": 1.5rem,
  "s": 2.25rem,
  "m": 3rem,
  "l": 4rem,
);

.btn {
  cursor: pointer;
  background: none;
  border: none;

  @each $name, $size in $icon-sizes {
    &-icon-#{$name} {
      @include square-size($size);
    }
  }

  &-func {
    color: #fff;
    background-color: get-color("main");
    font-weight: 700;
    border-radius: 1rem;
    padding: 0.75rem 2.5rem;

    $font-s: 1.125rem;

    &-s {
      font-size: $font-s;
    }

    &-l {
      font-size: clamp($font-s, 5vw, 1.5rem);
    }
  }

  &-gradient {
    box-shadow: 0 4px 32px 0 get-color("main-light");
  }

  &-header {
    &-basket {
      position: relative;
      margin-left: auto;

      &::before {
        content: "1";

        $size: 1.125rem;
        $distance: -0.25rem;

        @include flex-center();
        @include square-size($size);

        position: absolute;
        border-radius: 50%;
        bottom: $distance;
        left: $distance;
        color: #fff;
        background-color: get-color("main");
        font-size: 0.5rem;
        font-weight: 700;
      }
    }

    &-menu {
      margin-left: 2rem;

      @include desktop-media {
        display: none;
      }
    }
  }

  &-add-to-cart {
    &-container {
      @include flex-center(1rem);
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
