@use "../abstracts" as *;

.card {
  display: flex;
  border-radius: 1rem;
  background-color: get-color("main-light");
  box-shadow: 0px 2px 16px 4px to-rgba(get-color("main-dark"), 0.5);

  &-heading {
    position: relative;
    color: get-color("text");
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 2;
  }

  &-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: get-color("text-light");
    font-size: 1rem;
    font-weight: 400;
  }

  &-img-container img {
    width: 100%;
    height: 100%;
  }

  &-menu {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .card-img-container {
      @include flex-center();
      position: relative;
      width: 9.5rem;
      height: 9.5rem;

      img {
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 64px 112px rgba(255, 255, 255, 0.5);
        z-index: 1;
      }
    }
  }
}
