$font-stack: (
  "Poppins",
  system-ui,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol"
);

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bold.woff2") format("woff2"),
    url("../../assets/fonts/poppins-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; // Bold
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-medium.woff2") format("woff2"),
    url("../../assets/fonts/poppins-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; // Medium
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-regular.woff2") format("woff2"),
    url("../../assets/fonts/poppins-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; // Normal
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-light.woff2") format("woff2"),
    url("../../assets/fonts/poppins-light.woff") format("woff");
  font-style: normal;
  font-weight: 300; // Light
}

body {
  font-family: $font-stack;
  font-display: swap;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 1rem;
}
