@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.header {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  &-nav {
    margin-left: auto;

    @include mobile-media {
      display: none;
    }

    &-list {
      gap: 5rem;
      font-size: 1.125rem;

      &-item {
        &-link {
          color: get-color("text");
        }

        &.active {
          text-decoration-color: get-color("main") !important;
        }
      }
    }
  }
}
