@use "../abstracts/functions" as *;

.main {
  display: flex;
  margin-top: 5rem;
  gap: 1.5rem;
  align-items: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  &-heading {
    color: get-color("text");
    font-size: clamp(2.5rem, 5vw, 3rem);
    font-weight: 700;
  }

  &-description {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: get-color("text-light");
    font-size: 1rem;
    font-weight: 400;
  }

  &-img {
    flex: 1 1 480px;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}
